/*public*/
.tangram-scrollbar{
    width:100%;/*初始值必要*/
    height:100%;/*初始值必要*/
}
.tangram-scrollbar-track{
    overflow:hidden;/*必要*/
    width:100%;/*初始值必要*/
    height:100%;/*初始值必要*/
}
.tangram-scrollbar-slider{
    width:100%;/*初始值必要*/
    height:100%;/*初始值必要*/
}
.tangram-scrollbar-slider-thumb{
    width:100%;/*初始值必要*/
    height:100%;/*初始值必要*/
   background:gray;
}
.tangram-scrollbar-prev,.tangram-scrollbar-next,.tangram-scrollbar-thumb-btn{
    font-size: 0px;
}
/**/
/*scrollbar-a start*/
.scrollbar-a{
    background:url(imgs/scrollbar-v.gif) repeat-y -105px 0;
}
.scrollbar-a-prev{
    width: 15px;
    height: 15px;
    background: url(imgs/scrollbar-v.gif) no-repeat 0 0;
}
.scrollbar-a-prev-hover{
    background-position:-15px 0;
}
.scrollbar-a-prev-press{
    background-position:-30px 0;
}
.scrollbar-a-next{
    width: 15px;
    height: 15px;
    background: url(imgs/scrollbar-v.gif) no-repeat 0 -15px;
}
.scrollbar-a-next-hover{
    background-position:-15px -15px;
}
.scrollbar-a-next-press{
    background-position:-30px -15px;
}
.scrollbar-a-thumb-btn{
    position:relative;
    width:100%;
    height:100%;
    background:url(imgs/scrollbar-v.gif) repeat-y -60px 0;
}
.scrollbar-a-thumb-prev{
    position:absolute;
    top:0px;
    width:100%;
    height:5px;
    font-size:0px;
    background:url(imgs/scrollbar-v.gif) -45px 0;
}
.scrollbar-a-thumb-next{
    position:absolute;
    bottom:0px!important;
    bottom:-1px;
    width:100%;
    height:5px;
    font-size:0px;
    background:url(imgs/scrollbar-v.gif) -45px -5px;
}
.scrollbar-a-thumb-btn-hover{
    background-position:-75px 0px;
}
.scrollbar-a-thumb-btn-hover .scrollbar-a-thumb-prev{
    background-position:-45px -10px;
}
.scrollbar-a-thumb-btn-hover .scrollbar-a-thumb-next{
    background-position:-45px -15px;
}
.scrollbar-a-thumb-btn-press{
    background-position:-90px 0px;
}
.scrollbar-a-thumb-btn-press .scrollbar-a-thumb-prev{
    background-position:-45px -20px;
}
.scrollbar-a-thumb-btn-press .scrollbar-a-thumb-next{
    background-position:-45px -25px;
}
/*scrollbar-a end*/


.cssloaded {
	background-color : red;
    width : 20px;
}