.tangram-dialog{

    border:2px solid #a8b9eb;

    background:#dae4ff;

    color:#333;

    padding-bottom:18px;

}

.tangram-dialog-title{

    cursor:move;

    -moz-user-select:none;

    line-height:24px;

    font-size:14px;

    font-weight:bold;

    padding-top:10px;

    padding-left:5px;

    padding-bottom:5px;

}

.tangram-dialog-titletext{

    margin: 0 10px;

    line-height:24px;

}

.tangram-dialog-close{

    width:19px;

    height:19px;

    right: 8px;

    top:8px;

    position:absolute;

    background:url(img/close.gif);

    cursor:pointer;

}

.tangram-dialog-content{

    margin:5px;

    border:1px solid #c3cff2;

    background:#FFF;

    padding:6px;

}

/*confirm*/

.tangram-dialog-footer{

    text-align:right;

}

.tangram-dialog-accept{

    width:80px;

    padding:5px;

    margin:5px;

    border:1px solid green;

    background:#FFF;

    cursor:pointer;

}

.tangram-dialog-cancel{

    width:80px;

    padding:5px;

    margin:5px;

    border:1px solid red;

    background:#FFF;

    cursor:pointer;

}
