#wrapper{width:980px;border: 5px #999 solid;padding:2px;}

.actived{background-color:#0A246A; color:#FFFFFF;}

.tangram-combobox{
	border:1px solid #A4BED4;
	font-size: 12px;
	display: inline-block;
}
.tangram-combobox-input{
	border:0 none;
	height: 20px;
}
.tangram-combobox-arrow{
	background: url("img/combo_arrow.gif") no-repeat;
	height: 20px;
	width: 18px;
	display: inline-block;
	cursor:pointer;
}
