.tangram_sug_wpr{border:1px solid #817F82;position:absolute;top:28px;left:0}
.tangram_sug_wpr table{width:100%;background:#fff;cursor:default}
.tangram_sug_wpr td{font:14px verdana}
.tangram_sug_mo{background-color:#36c;color:#fff}
.tangram_sug_ml{background-color:#fff;color:#000}
