.tangram-starrate-on, .tangram-starrate-off {
	background:url("http://st.youa.baidu.com/resource/css/mall/images/ratingstars.gif") no-repeat scroll 0 0 transparent;
	display:inline-block;
	height:21px;
	width:21px;
	zoom: 1;
	cursor: pointer;
}
.tangram-starrate-on {
	background-position:0 -40px;
}