.tangram-carousel {position: relative; overflow: hidden;	border: green solid 4px;}
.tangram-carousel .tangram-carousel-scroll {position: absolute;border : blue solid 1px;}'
.tangram-carousel .tangram-carousel-scroll .tangram-carousel-item {position: relatiev;float: left;border: pink solid 1px;width: 80px;}
.tangram-carousel .tangram-carousel-scroll .tangram-carousel-item-focus {border: red solid 1px;background: #eee;}
.tangram-carousel-btn-base {float: left;}
td {border:solid 1px red;}